{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "check-coverage": false,
  "reporter": ["html", "text"],
  "report-dir": "tests/coverage",
  "exclude": ["tests/**/*", "src/plugins/*"]
}
