{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "check-coverage": false,
  "reporter": ["html", "text"],
  "report-dir": "tests/coverage",
  "exclude": [
    "tests/**/*",
    "src/plugins/*",
    "src/types/*",
    "src/vite-env.d.ts",
    "dist"
  ],
  "branches": 80,
  "lines": 80,
  "functions": 80,
  "statements": 80
}
